.first-v {
    display: flex;
}

.catch {
    width: 42%;
    height: 100vh;
    font-size: 3.8rem;
    letter-spacing: 3.8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include sp {
        width: 100%;
        display: flexbox;
        position: absolute;
        top: 10%;
        color: #fff;
        text-shadow: 0px 3px 16px #000;
        font-weight: initial;
    }
    #catch1 {
        font-family: "ヒラギノ明朝 Pro";
        @include sp {
            order: 2;
            margin-top: 48px;
        }

    }
    #catch2 {
        font-family: "Zapfino";
        height: 128px;
        margin-top: 48px;
        @include sp {
            order: 1;
            height: unset;
        }
    }
}

.first-img {
    width: 58%;
    height: 100vh;
    background-image: url(../img/component.png);
    background-size: cover;
    @include sp {
        width: 100%;
    }
}